<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Honey CDN</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container secondary">
    <div class="header primary">
      <div class="menu">
        <label for="filter">Filtrar por ID</label>
        <select name="filter" class="filter">
          <option value="">Todas</option>
        <% Object.keys(data.queries).forEach(function (k) { %>
          <option value="<%= k %>"><%= k %></option>
        <% }) %>
        </select>
      </div>
    </div>

    <div class="content">
      <table class="entries">
        <tr class="entries-head">
          <th>ID</th>
          <th>Source</th>
          <th>Method</th>
          <th>Path</th>
          <th>User Agent</th>
          <th>Time</th>
          <th>Referer</th>
          <th>DNT</th>
        </tr>
      <% Object.keys(data.queries).forEach(function (k) { %>
        <% data.queries[k].forEach(function (e) { %>
        <tr class="entry <%= k %>">
          <td><%= k %></td>
          <td><%= e.source %></td>
          <td><%= e.method %></td>
          <td><%= e.path %></td>
          <td><%= e.content['user-agent'] %></td>
          <td><%= e.time %></td>
          <td><%= e.content.referer %></td>
          <td><%= e.content.dnt ? 'enabled' : 'disabled' %></td>
        </tr>
        <% }) %>
      <% }) %>
      </table>
    </div>

    <div class="footer primary"></div>

    <script>
      (function () {
        function showElement(x) {
          x.classList.remove("invisible");
        }
        
        function hideElement(x) {
          x.classList.add("invisible");
        }

        document.querySelector("select")
          .addEventListener("change", function (e) {
            let enabled = document.querySelectorAll("option")[e.target.selectedIndex].value

            if (!!enabled) {
              document.querySelectorAll("tr.entry").forEach(hideElement)
              document.querySelectorAll("tr.entry."+enabled).forEach(showElement)
            } else {
              document.querySelectorAll("tr.entry").forEach(showElement)
            }
          })
      })()
    </script>
  </div>
</body>
</html>